<body>
  <div class="container">
      <form class="form-horizontal" role="form" (ngSubmit)="registerDoctor()" #userRegForm="ngForm" >
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6" style="color:rgb(104, 99, 99); border:black">
                <br>
                <h2>Register New Doctor</h2>
                <hr>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 field-label-responsive">
                  
              </div>
              <div class="col-md-6">
                    <label for="name">First Name:</label>
                  <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                          <input type="text" name="name" [(ngModel)]="user.name" class="form-control" id="name"
                                 placeholder="First Name" required autofocus #name="ngModel" required>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-3 field-label-responsive">
            </div>
            <div class="col-md-6">
                    <label for="name">Last Name:</label>
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="lastName"  [(ngModel)]="user.lastName" class="form-control" id="lastName"
                               placeholder="Last Name" required autofocus #lastName="ngModel">
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-3 field-label-responsive">
                 
              </div>
              <div class="col-md-6">
                    <label for="username">Username:</label>
                  <div class="form-group">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                          <input type="text" name="username" [(ngModel)]="user.username" class="form-control" id="username"
                                 placeholder="username" required autofocus #username="ngModel">
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="form-control-feedback">
                          <span class="text-danger align-middle">
                              <!-- Put e-mail validation error messages here -->
                          </span>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 field-label-responsive">
              </div>
              <div class="col-md-6">
                    <label for="password">Password:</label>
                  <div class="form-group has-danger">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                          <input type="password" name="password" [(ngModel)]="user.password" class="form-control" id="password"
                                 placeholder="password" required #password="ngModel">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 field-label-responsive">
              </div>
              <div class="col-md-6">
                    <label for="repeatedPassword">Repeated Password:</label>
                  <div class="form-group has-danger">
                      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                          <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                          <input type="password" name="repeatedPassword" [(ngModel)]="repeatedPasswordText" class="form-control" id="repeatedPassword"
                                 placeholder="repeatedPassword" required #repeatedPassword="ngModel">
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                  <button id="registerButton" type="submit" class="btn btn-primary btn-md"><i class="fa fa-user-plus"></i>Register</button>
              </div>
          </div>
      </form>
  </div>
  </body>