<div style="text-align:center" name="isLoggedInForm" *ngIf="!isLoggedIn()">
  <nav style="text-align:center;background:rgb(248, 142, 142);" 
  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-weight:700">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" style="color:white"  routerLink="login">Login<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div style="text-align:center" name="isLoggedInForm1" *ngIf="isLoggedIn()">
  <nav style="text-align:center;background:rgb(248, 142, 142);" 
  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-weight:700">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" style="color:white"  (click)="logout()">Logout<span class="sr-only">(current)</span></a>
          </li>
          
          <li *ngIf="getRole()=='ADMIN'" class="nav-item active">
            <a class="nav-link" style="color:white" routerLink="register">Register <span class="sr-only">(current)</span></a>
          </li>
          <li *ngIf="getRole()=='DOCTOR'" class="nav-item active">
            <a class="nav-link" style="color:white" routerLink="patients">Patients <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color:white" routerLink="monitoring">Monitoring <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown" *ngIf="getRole()==='ADMIN'">
            <a class="nav-link dropdown-toggle meeLink" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Manage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a id="meetingLink" class="dropdown-item" routerLink="mngdoctors">Doctors</a>
              <div class="dropdown-divider" ></div>
              <a id="meetingLink" class="dropdown-item" routerLink="mngdiseases">Diseases</a>
              <div class="dropdown-divider" ></div>
              <a id="meetingLink" class="dropdown-item" routerLink="mngsymptoms">Symptoms</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="text-align:center">
    <div class="notif-container">
      <div class="notif">
        <div class="message"></div>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>

